@inject IProductService ProductService
@inject NavigationManager NavigationManager
@implements IDisposable
@using System.Timers



<div style="position: relative;">
     
<MudContainer Class="my-container" Style="background-color: #bdbbbb;">
   
    <MudText Typo="Typo.h2" Class="text-center my-4">Най - популярни днес</MudText>
    
    @if (ProductService.Products == null || ProductService.Products.Count == 0)
    {
        <div class="d-flex justify-content">
            <MudText Typo="Typo.body1" Class="my-4 mx-2">Няма намерени продукти.</MudText>
            <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
        </div>
                
    }
    else
    {
            <div class="d-flex justify-center">
                <MudCarousel Class="d-flex my-carousel" Style="height:400px; width:300px; margin: 0 auto; margin-top: 2rem; padding: 1rem;" 
                          ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" 
                          AutoCycle="@autocycle" TData="object">
                @foreach (var product in ProductService.Products)
                {
                    @if (product.Featured)
                    {
                                    <MudCarouselItem Class="d-flex justify-center" Transition="transition" Color="@Color.Transparent">
                                        <MudItem xs="12" sm="6" md="4" Class="d-flex align-center justify-center mud-width-full py-8">
                                            <MudCard>
                                                <a href="@($"product/{product.Id}")">
                                                    <MudImage Height="280" Width="280" src="@product.ImageUrl" />
                                                </a>
                                                <MudCardContent>
                                                    <MudText Typo="Typo.h6" Class="product-title">
                                                        <a href="@($"product/{product.Id}")">@product.Title</a>
                                                    </MudText>
                                        @if (product.Variants != null && product.Variants.Count > 0)
                                        {
                                                            <MudText Typo="Typo.subtitle1" Class="mt-2 product-price">
                                                @product.Variants[0].Price Лева
                                                            </MudText>
                                        }
                                                </MudCardContent>
                                            </MudCard>
                                        </MudItem>
                                    </MudCarouselItem>
                    }
                }
                </MudCarousel>
            </div>
    }
    
</MudContainer>
</div>




@code {
    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Fade;
    



    protected override void OnInitialized()
    {
        ProductService.ProductsChanged += StateHasChanged;
        
    }
    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }

}
